.flex-container{
    display: flex;
    background-color: tomato;
    justify-content: center;
    height: 300px;
    align-items: center; /*alinha o tamanho dos itens, stretch é p pradrao */
    /*flex-direction: column; row (linha) é o padrão*/
    /*flex-wrap: wrap-reverse; wrap os itens que nao cabem vao pra baixo, nowrap o contrario*/
    /*justify-content: space-around; da um espaçamento entre os elementos*/
    
}

.flex-container > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#item1{
    font-size: 24px;
    order: 3;
}

#item2{
    font-size: 72px;
    order: 1;
}

#item3{
    font-size: 48px;
    order: 2;
}