*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    color: white;
    text-align: center;
    flex-direction: ;
}

header, footer{
    background-color: cornflowerblue;
    height: 15vh; /* porcentagem */
    line-height: 15vh; /* alinhar texto */
}

main{
    display: flex;
    height: 70vh; /*o restante da porcentagem da pagina, header e footer utilizam 30%*/
    line-height: 70vh;
}

article{
    background-color: blueviolet;
    width: 50vw;
}

aside{
    background-color: orange;
    width: 25vw;
}

nav{
    background-color: darkorange;
    width: 25vw;
}